*{
    padding:  0;
    margin: 0 auto;
}
*:hover{
    
}
button{
    position:fixed;
    top: 0px;
    left: 300px;
    z-index: 1;
}

body{
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;}

.container{
    
    background-image: url(front.jpg);
    width: 750px; 
    min-height: 2130px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid gray;
    box-shadow: 3px 10px 10px 3px;
    position:  relative;
    color:#222222;
}
.header{
    position: absolute;
    top: 50px;
    left: 80px;
}
.name-address{
}
.profile-image{
   position: absolute;
    top: 17px;
   left: 460px;
 background-color:white;
    
}
.profile-image img{
    width: 100px;
    height: 110px;
    border: 1px solid black;
}
.objective{
    position: absolute;
    left: 80px;
    top:205px;
    width: 590px;
    
}
.sub-title{
    background-color: #444444;
    color: white;
    width: 590px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
}
p{
    text-align: justify;
    letter-spacing: 1px;
    
}

.computer-skills{
     position: absolute;
    left: 80px;
    top:310px;
    width: 590px;
}
ul{
    padding-left: 50px;
    list-style-type:circle
}
.language-skills{
     position: absolute;
    left: 80px;
    top:410px;
    width: 590px;
}
.technical-skills{
     position: absolute;
    left: 80px;
    top:580px;
    width: 590px;
}

.academic{
     position: absolute;
    left: 80px;
    top:690px;
    width: 590px;
    padding-top: 5px;
}
.academic-table{
    margin-top: 5px;
    text-align: center;
}
.academic-table tr{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 1px solid black;
}
.academic-table th{
    padding: 10px;
    border-top: 1px solid black;
    background-color: #BBBBBB
}
.academic-table tr td{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px dashed gray;
}

.curriculam{
    position: absolute;
    left: 80px;
    top:970px;
    width: 590px;
}
.projects{
    position: absolute;
    left: 80px;
    top:1260px;
    width: 590px;
}

.interest{
    position: absolute;
    left: 80px;
    top:1520px;
    width: 590px;
}
.personal-details{
    position: absolute;
    left: 80px;
    top:1590px;
    width: 590px;
    
}
.personal-details-table{
    position: inherit;
    width: 590px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 10px;
    border-top: 1px solid gray;
}
.personal-details-table td{
    padding-right: 50px;
    border-bottom: 1px dashed gray;  
}

.permanent-address{
    position: absolute;
    left: 80px;
    top:1810px;
    width: 590px;
}
.reference{
     position: absolute;
    left: 80px;
    top:1880px;
    width: 590px;
}
.signiture{
     position: absolute;
    left: 80px;
    top:2060px;
    width: 590px;
}

